*{
    margin:0;
    border:0;
}
body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

.menu > *{
    list-style-type:none;
}
.menu  a {
    text-decoration:none;
    color:black;
display:block;
}
.menu a:hover{
    text-decoration:underline;
    color:white;
}
#container {
  width: 75%;
  margin: 0 auto;
  /*
  padding: 20px 40px;*/
  border: solid 1px black;
  margin-top: 20px;
position:relative;
}
    #wrapper
    {
        width:100%;
        position:relative;
        background-color: #FFF;
    }
    #header{
        width:100%;background-color: red;
        height:50px;
        margin-bottom:20px;
    }
        #topnav{
            
        }
		#usernav{
			right:0;
			top:25px;
			position:absolute;
			
		}
		#usernav a{
			text-decoration:none;
			color:black;
		}
		#usernav a:hover{
			text-decoration:underline;
			color:white;
		}
    #sidenav{
        width:20%;position:absolute;
        margin-left:5%;
        background-color:green;
		min-height:300px;
		
    }
        #side-menu{
            margin-top:10%;
        }
			#side-menu ul{
				margin-left:0;
			}
    #middle{
        width:65%;background-color:pink;
        margin-left:30%;
		min-height:400px;
        
    }
        #notifs{
        }
        #content{
            padding:10px;
        }
    #footer{
        width:100%;margin-top:20px;
        height:300px;background-color:yellow;
    }

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}
